{% extends 'base.html.twig' %}

{% block title %}Group{% endblock %}

{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <div class="d-flex justify-content-end">
                            <h3> {{ group.name }} </h3>
                        </div>
                    </div>
                    <div class="col">
                        <div class="d-flex justify-content-end">
                            <a class="btn btn-outline-primary" href="{{ path('app_group_edit', {'id': group.id}) }}">Edit</a>
                            <a class="btn btn-outline-primary" href="{{ path('app_group_index') }}">Back to list</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>First_name</th>
                        <th>Last_name</th>
                        <th>Email</th>
                        <th>Birthday</th>
                        <th>actions</th>
                    </tr>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.name }}</td>
                            <td>{{ user.firstName }}</td>
                            <td>{{ user.lastName }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.birthday ? user.birthday|date('Y-m-d') : '' }}</td>
                            <td>
                                <a class="btn btn-outline-secondary" href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                                <a class="btn btn-outline-secondary" href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="d-flex justify-content-end">
                    {{ include('group/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
