{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <div class="d-flex justify-content-center">
                            <h3> Список студентов </h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <form action="{{ path('app_user_index') }}" method="GET">
                        <div class="row">
                            <div class="col">
                                <label for="name_filter"> name </label>
                                <input id="name_filter" type="text" name="name" value="{{ request.query.get('name') }}">
                            </div>
                            <div class="col">
                                <label for="first_name_filter"> first_name </label>
                                <input id="first_name_filter" type="text" name="first_name" value="{{ request.query.get('first_name') }}">
                            </div>
                            <div class="col">
                                <label for="last_name_filter"> last_name </label>
                                <input id="last_name_filter" type="text" name="last_name" value="{{ request.query.get('last_name') }}">
                            </div>
                            <div class="col">
                                <label for="birhtday_filter"> birthday </label>
                                <input id="birhtday_filter" type="date" name="birthday" value="{{ request.query.get('birthday') }}">
                            </div>
                            <div class="col">
                                <button class="btn btn-success"> Filter </button>
                                <a href="{{ path('app_user_index') }}" class="btn btn-warning"> Remove filters</a>
                                {% if is_granted('ROLE_TEACHER') %}
                                <a href="{{ path('app_user_export') }}" class="btn btn-info"> Export list</a>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-body d-flex">
                <table class="table table-striped">
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>firstName</th>
                        <th>lastName</th>
                        <th>email</th>
                        <th>birthday</th>
                        <th class="d-flex justify-content-center">actions</th>
                    </tr>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.firstName }}</td>
                            <td>{{ user.lastName }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.birthday ? user.birthday|date('Y-m-d') : '' }}</td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    <a class="btn btn-outline-secondary"
                                       href="{{ path('app_user_show', {'id': user.id}) }}">Show</a>
                                    <a class="btn btn-outline-secondary"
                                       href="{{ path('app_user_edit', {'id': user.id}) }}">Edit</a>
                                    {{ include('user/_delete_form.html.twig') }}
                                    <a class="btn btn-outline-info"
                                       href="{{ path('app_score_index', {'user': user.id}) }}">
                                        Show score
                                    </a>
                                    <a class="btn btn-outline-success"
                                       href="{{ path('app_score_new', {'user': user.id}) }}">Add score</a>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">no records found</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="d-flex justify-content-center">
                {% if previous >= 0 %}
                    <a href="{{ path('app_user_index', { offset: previous,
                        name: request.query.get('name'),
                        firstname: request.query.get('first_name'),
                        birthday: request.query.get('birthday')
                    }) }}">Previous</a>
                {% endif %}
                {% if next < users|length %}
                    <a href="{{ path('app_user_index', { offset: next, name: request.query.get('name'),
                        firstname: request.query.get('first_name'),
                        birthday: request.query.get('birthday')
                    }) }}">Next</a>
                {% endif %}
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <a class="btn btn-outline-primary" href="{{ path('app_user_new') }}">Create new</a>
        </div>
    </div>
{% endblock %}
